// Layout variables
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;

// Dashboard 
$db-header-height: 64px;
$db-create-background: #dadce0;

// Cell variables
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;

// Wiev variables, color
$dark-1: #202124;
$white-1: #e6f4ea;
$table-color: #f8f9fa;
$border-color: #c0c0c0;